 <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
                    <div class="our-shop">
                        <div class="row clearfix">
                        
                            <!-- Shop Item --> 
                            <div class="shop-item col-lg-4 col-md-6 col-sm-12 col-xs-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/1.jpg" alt=""></a></figure>
                                        <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                    </div>
                                    <div class="lower-content clearfix">
                                        <h4 class="name"><a href="shop-single.html">Yami Makaroons</a></h4>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                                        <div class="price">$17.00</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Shop Item --> 
                            <div class="shop-item col-lg-4 col-md-6 col-sm-12 col-xs-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="sale-tag">sale!</div>
                                        <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/9.jpg" alt=""></a></figure>
                                        <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                    </div>
                                    <div class="lower-content clearfix">
                                        <h4 class="name"><a href="shop-single.html">Premium Lollipop</a></h4>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span><span class="fa fa-star light"></span><span class="fa fa-star light"></span></div>
                                        <div class="price"><del>$15.00</del> $9.00</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Shop Item --> 
                            <div class="shop-item col-lg-4 col-md-6 col-sm-12 col-xs-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="sale-tag">sale!</div>
                                        <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/3.jpg" alt=""></a></figure>
                                        <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                    </div>
                                    <div class="lower-content clearfix">
                                        <h4 class="name"><a href="shop-single.html">French Macaroon</a></h4>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                                        <div class="price">$17.00</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Shop Item --> 
                            <div class="shop-item col-lg-4 col-md-6 col-sm-12 col-xs-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/4.jpg" alt=""></a></figure>
                                        <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                    </div>
                                    <div class="lower-content clearfix">
                                        <h4 class="name"><a href="shop-single.html">Classic Macaroon</a></h4>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                                        <div class="price">$22.00</div>
                                    </div>
                                </div>
                            </div>

                         

                           

                            <!-- Shop Item --> 
                            <div class="shop-item col-lg-4 col-md-6 col-sm-12 col-xs-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/7.jpg" alt=""></a></figure>
                                        <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                    </div>
                                    <div class="lower-content clearfix">
                                        <h4 class="name"><a href="shop-single.html">Hearts Lollipop</a></h4>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                                        <div class="price">$17.00</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Shop Item --> 
                            <div class="shop-item col-lg-4 col-md-6 col-sm-12 col-xs-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/8.jpg" alt=""></a></figure>
                                        <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                    </div>
                                    <div class="lower-content clearfix">
                                        <h4 class="name"><a href="shop-single.html">Coffee Cake</a></h4>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span><span class="fa fa-star light"></span><span class="fa fa-star light"></span></div>
                                        <div class="price">$39.00</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Shop Item --> 
                            <div class="shop-item col-lg-4 col-md-6 col-sm-12 col-xs-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/2.jpg" alt=""></a></figure>
                                        <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                    </div>
                                    <div class="lower-content clearfix">
                                        <h4 class="name"><a href="shop-single.html">Lemon Lollipop</a></h4>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                                        <div class="price">$35.00</div>
                                    </div>
                                </div>
                            </div>

                          
                            <!-- Shop Item --> 
                            <div class="shop-item col-lg-4 col-md-6 col-sm-12 col-xs-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="sale-tag">sale!</div>
                                        <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/12.jpg" alt=""></a></figure>
                                        <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                    </div>
                                    <div class="lower-content clearfix">
                                        <h4 class="name"><a href="shop-single.html">Authentic Macaroons</a></h4>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                                        <div class="price"><del>$29.00</del> $25.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <!--Sidebar Side-->
                <div class="sidebar-side sticky-container col-lg-3 col-md-12 col-sm-12">
                    <aside class="sidebar theiaStickySidebar">
                        <div class="sticky-sidebar">
                            <!-- Search Widget -->
                            <div class="sidebar-widget search-widget">
                                <form method="post" action="contact.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Search products…" required>
                                        <button type="submit"><span class="icon fa fa-search"></span></button>
                                    </div>
                                </form>
                            </div>
                            
                            <!-- Cart Widget -->
                            <div class="sidebar-widget cart-widget">
                                <div class="widget-content">
                                    <h3 class="widget-title">Mi carro</h3>
                                    
                                    <div class="shopping-cart">
                                        <ul class="shopping-cart-items">
                                            <li class="cart-item">
                                                <img src="assets/assetsdulce/images/resource/products/7.jpg" alt="#" class="thumb" />
                                                <span class="item-name">Birthday Cake</span>
                                                <span class="item-quantity">1 x <span class="item-amount">$84.00</span></span>
                                                <a href="shop-single.html" class="product-detail"></a>
                                                <button class="remove-item"><span class="fa fa-times"></span></button>
                                            </li>

                                            <li class="cart-item">
                                                <img src="assets/assetsdulce/images/resource/products/9.jpg" alt="#" class="thumb"  />
                                                <span class="item-name">French Macaroon</span>
                                                <span class="item-quantity">1 x <span class="item-amount">$13.00</span></span>
                                                <a href="shop-single.html" class="product-detail"></a>
                                                <button class="remove-item"><span class="fa fa-times"></span></button>
                                            </li>
                                        </ul>

                                        <div class="cart-footer">
                                            <div class="shopping-cart-total"><strong>Subtotal:</strong> $97.00</div>
                                            <a href="http://html.cwsthemes.com/bellaria/cart.html" class="theme-btn">Ver carro</a>
                                            <a href="checkout.html" class="theme-btn">Pagar</a>
                                        </div>
                                    </div> <!--end shopping-cart -->
                                </div>
                            </div>

                            <!-- Tags Widget -->
                            <div class="sidebar-widget tags-widget">
                                <h3 class="widget-title">Tags</h3>
                                <ul class="tag-list clearfix">
                                    <li><a href="index-7.html#">Bars</a></li>
                                    <li><a href="index-7.html#">Caramels</a></li>
                                    <li><a href="index-7.html#">Chocolate</a></li>
                                    <li><a href="index-7.html#">Fruit</a></li>
                                    <li><a href="index-7.html#">Nuts</a></li>
                                    <li><a href="index-7.html#">Toffees</a></li>
                                    <li><a href="index-7.html#">Top Rated</a></li>
                                    <li><a href="index-7.html#">Truffles</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->