 
<section class="dashboard white-bg padd-0 mrg-top-50 " style="min-height: 600px; padding-top: 0px; ">
	<div class="container-fluid" >
		<div class="">
			<div class="">
				<div class=" mrg-0 mrg-top-20">
					<div class="">
						<div class="tr-single-header" style="border: 0px;">
							<h3 class="dashboard-title">									
								+ Producto. 		
							</h3>
						</div>
						<div class=" "  >
							<div class="col-md-3 col-xs-12" style="
								padding: 15px 15px 15px 15px; background:#fafbfd!important; border-radius: 10px;
								/*margin-left: 30px;*/
								">
								<ngx-file-picker
								    [uploadType]="'multi'"
								    (validationError)= "onValidationError($event)"
								    [adapter]="adapter"
								    [fileExtensions]="['pdf', 'jpeg','jpg', 'png', 'PNG', 'mp4', 'css', 'docx', 'txt','webp']"
								    (uploadSuccess)="onUploadSuccess($event)"
								    (removeSuccess)="onRemoveSuccess($event)"
								    [showeDragDropZone]="true"
								    [showPreviewContainer]="true"
								    [accept]="'image/*'"
								    (fileAdded)="onFileAdded($event)">
								</ngx-file-picker>									
							</div>
							<div class="col-md-9 col-xs-12">
								<form  class="form"[formGroup]="ngFormAddtixs" (ngSubmit) ="sendTix()" >
											
											<aw-wizard>
												<aw-wizard-step stepTitle="Producto">
													<div class="row" > 
												
														<div class="col-md-12 col-xs-12">
															
																<div class="form-group">
																	<label for="productName">Título</label>
																	<input type="text" class="form-control" id="productName" formControlName="productName" placeholder="Titulo" [(ngModel)]="tix.productName"
																	[ngClass]="{ 'is-invalid': submitted && fval.productName.errors }"
																	required>
																	<div *ngIf="submitted && fval.productName.errors" class="invalid-feedback">
																		<div *ngIf="fval.productName.errors.required" class="errorLabel">
																		* El título es un campo requerido.
																		</div>

																	</div>
																</div>
														</div>
														


														<div class="col-md-12 col-xs-12">
															<div class="form-group">
																<label for="description">Descripción</label>
																<textarea class="form-control height-80" id="description" formControlName="description" placeholder="Descripción" [(ngModel)]="tix.description"
																[ngClass]="{ 'is-invalid': submitted && fval.description.errors }"
																required></textarea>
																<div *ngIf="submitted && fval.description.errors" class="invalid-feedback">
																	<div *ngIf="fval.description.errors.required" class="errorLabel">
																	* La descripción es requerida.
																	</div>

																</div>
															</div>
														</div>



														<div class="col-md-12 col-xs-12">
															<div class="form-group">
																<label for="notes">Información extra </label>
																<!-- <input type="text" class="form-control" id="notes" formControlName="notes" placeholder="Información extra" [(ngModel)]="tix.notes"
																[ngClass]="{ 'is-invalid': submitted && fval.notes.errors }"
																required> -->

																<textarea class="form-control height-80" id="notes" formControlName="notes" placeholder="Notas" [(ngModel)]="tix.notes"
																[ngClass]="{ 'is-invalid': submitted && fval.notes.errors }"
																required></textarea>

																<div *ngIf="submitted && fval.notes.errors" class="invalid-feedback">
																	<div *ngIf="fval.notes.errors.required" class="errorLabel">
																	* La información es requerida.
																	</div>

																</div>
															</div>
														</div>
															
													</div>								
													<button type="button" awNextStep>Sig.</button>
												  </aw-wizard-step>

												  <aw-wizard-step stepTitle="Tallas y precios" awOptionalStep>
												      <div class="row" > 
												      	<div class="col-md-4 col-xs-12">
															<label>Categoria</label>
															<div class="sl-box">
																<select class="form-control wide"   id="category" formControlName="category" placeholder="Category" [(ngModel)]="tix.category"
																[ngClass]="{ 'is-invalid': submitted && fval.category.errors }"
																required>
																	<option>Ponqués</option>
																	<option>Mini ponqué</option>
																	<option>Galletas</option>
																	
																</select>
															</div>
															<div *ngIf="submitted && fval.category.errors" class="invalid-feedback">
																	<div *ngIf="fval.category.errors.required" class="errorLabel">
																	* La categoria es requerida
																	</div>

																</div>
														</div>	
														<div class="col-md-3 col-xs-12">
															
																<div class="form-group">
																	<label for="price">Precio</label>
																	<input type="text" class="form-control" id="price" formControlName="price" placeholder="Precio" [(ngModel)]="tix.price"
																	[ngClass]="{ 'is-invalid': submitted && fval.price.errors }"
																	required>
																	<div *ngIf="submitted && fval.price.errors" class="invalid-feedback">
																		<div *ngIf="fval.price.errors.required" class="errorLabel">
																		* El precio es un campo requerido.
																		</div>

																	</div>
																</div>
														</div>
														
											
												
											


															
													</div>
												    <button type="button" awPreviousStep>Ant.</button>
												    <button type="button"  type="submit"  awNextStep>Sig.</button>
												  </aw-wizard-step>
												 
												  <aw-wizard-step stepTitle="Fin">
												    <div class="row">

												    	<div class="col-md-12 text-center" *ngIf="this._uw.errorFormAddtixs">
															<i class="ti-thumb-down cl-danger font-50"></i>
															<h3 class="cl-danger">Error!</h3>
															

																<div *ngIf="submitted && fval.productName.errors" class="invalid-feedback">
																		<div *ngIf="fval.productName.errors.required" class="errorLabel">
																		* El título es requerido
																		</div>

																</div>

																<div *ngIf="submitted && fval.description.errors" class="invalid-feedback">
																	<div *ngIf="fval.description.errors.required" class="errorLabel">
																	* La descripción es requerida 
																	</div>

																</div>

																<div *ngIf="submitted && fval.notes.errors" class="invalid-feedback">
																	<div *ngIf="fval.notes.errors.required" class="errorLabel">
																	* La información del producto es requerida.
																	</div>

																</div>


																<div *ngIf="submitted && fval.category.errors" class="invalid-feedback">
																	<div *ngIf="fval.category.errors.required" class="errorLabel">
																	* La categoría es reuqerida
																	</div>

																</div>								
															
														</div>


														<div class="col-md-12 text-center" *ngIf="!this._uw.errorFormAddtixs">
															<i class="ti-thumb-up cl-success font-50"></i>
															<h3 class="cl-success">Felicitaciones!</h3>
															<p><strong></strong> Se ha agregado un nuevo producto a su tienda!</p>
														</div>
													</div>
												    <button type="button" awPreviousStep>Ant.</button>
												    <button type="button" (click)="finish()">Guardar</button>
												  </aw-wizard-step>
											</aw-wizard>
										</form>							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>