 <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
                    <div class="shop-single">
                        <!-- Product Detail -->
                        <div class="product-details">
                            <!--Basic Details-->
                            <div class="basic-details">
                                <div class="row clearfix">
                                    <div class="image-column col-md-6 col-sm-12">
                                        <figure class="image">

                                            <!-- <a href="{{item}}" class="lightbox-image" title="Image Caption Here"> -->
                                            <!-- <img src="assets/assetsdulce/images/resource/products/product-sinlge.jpg" alt=""> -->
                                            <div class="single-image" *ngFor="let item of tix.images; let i=index;">
                                                <img src="{{item}}"  *ngIf="i >= 0"class="img-fluid" alt="">
                                            </div>
                                            <span class="icon fa fa-search"></span>
                                            <!-- </a> -->
                                        </figure>
                                    </div>
                                    <div class="info-column col-md-6 col-sm-12">
                                        <div class="details-header">
                                            <h4>{{tix.productName}}</h4>
                                            <div class="rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="reviews" href="#">(2 Customer Reviews)</a>
                                            <div class="item-price">${{tix.price}}</div>
                                            <div class="text">{{tix.description}}</div>
                                        </div>

                                        <div class="other-options clearfix">
                                            <div class="item-quantity">Cantidad <input class="qty" type="number" value="1" name="quantity"></div>
                                            <button type="button" class="theme-btn add-to-cart"><span class="btn-title">Agregar al carro</span></button>
                                            <ul class="product-meta">
                                                <li class="posted_in">Categoría: <a href="#">{{tix.category}}</a></li>
                                                <!-- <li class="tagged_as">Tag: <a href="#">Nuts</a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Basic Details-->
                            
                            
                            <!-- Related Products -->
                            <div class="related-products">
                                <div class="sec-title">
                                    <h2>Productos relacionados</h2>
                                </div>

                                <div class="row clearfix">
                                    <!-- Shop Item --> 
                                    <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <div class="sale-tag">sale!</div>
                                                <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/3.jpg" alt=""></a></figure>
                                                <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                            </div>
                                            <div class="lower-content">
                                                <h4 class="name"><a href="shop-single.html">French Macaroon</a></h4>
                                                <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                                                <div class="price">$17.00</div>
                                            </div>
                                        </div>
                                    </div>

                                     <!-- Shop Item --> 
                                    <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/6.jpg" alt=""></a></figure>
                                                <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                            </div>
                                            <div class="lower-content">
                                                <h4 class="name"><a href="shop-single.html">Happy Ninja</a></h4>
                                                <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                                                <div class="price">$35.00</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Shop Item --> 
                                    <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a href="shop-single.html"><img src="assets/assetsdulce/images/resource/products/7.jpg" alt=""></a></figure>
                                                <div class="btn-box"><a href="shopping-cart.html">Agregar al carro</a></div>
                                            </div>
                                            <div class="lower-content">
                                                <h4 class="name"><a href="shop-single.html">Hearts Lollipop</a></h4>
                                                <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                                                <div class="price">$17.00</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Related Products -->
                        </div><!-- Product Detail -->
                    </div><!-- End Shop Single -->
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side sticky-container col-lg-3 col-md-12 col-sm-12">
                    <aside class="sidebar theiaStickySidebar">
                        <div class="sticky-sidebar">
                            <!-- Search Widget -->
                            <div class="sidebar-widget search-widget">
                                <form method="post" action="contact.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Buscar producto..." required>
                                        <button type="submit"><span class="icon fa fa-search"></span></button>
                                    </div>
                                </form>
                            </div>
                            
                            <!-- Cart Widget -->
                            <div class="sidebar-widget cart-widget">
                                <div class="widget-content">
                                    <h3 class="widget-title">Mi carro</h3>
                                    
                                    <div class="shopping-cart">
                                        <ul class="shopping-cart-items">
                                            <li class="cart-item">
                                                <img src="assets/assetsdulce/images/resource/products/prod-thumb-1.jpg" alt="#" class="thumb" />
                                                <span class="item-name">Birthday Cake</span>
                                                <span class="item-quantity">1 x <span class="item-amount">$84.00</span></span>
                                                <a href="shop-single.html" class="product-detail"></a>
                                                <button class="remove-item"><span class="fa fa-times"></span></button>
                                            </li>

                                            <li class="cart-item">
                                                <img src="assets/assetsdulce/images/resource/products/prod-thumb-2.jpg" alt="#" class="thumb"  />
                                                <span class="item-name">French Macaroon</span>
                                                <span class="item-quantity">1 x <span class="item-amount">$13.00</span></span>
                                                <a href="shop-single.html" class="product-detail"></a>
                                                <button class="remove-item"><span class="fa fa-times"></span></button>
                                            </li>
                                        </ul>

                                        <div class="cart-footer">
                                            <div class="shopping-cart-total"><strong>Subtotal:</strong> $97.00</div>
                                            <a href="http://html.cwsthemes.com/bellaria/cart.html" class="theme-btn">Ver carro</a>
                                            <a href="checkout.html" class="theme-btn">Comprar</a>
                                        </div>
                                    </div> <!--end shopping-cart -->
                                </div>
                            </div>

                            <!-- Tags Widget -->
                            <div class="sidebar-widget tags-widget">
                                <h3 class="widget-title">Categoría</h3>
                                <ul class="tag-list clearfix">
                                    <li><a href="#">Ponqué</a></li>
                                    <li><a href="#">Mini-ponqué</a></li>
                                    <li><a href="#">Galletas</a></li>
                                
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->
